extends ./layout/index

block contenido
    main.container.mt-5
        // Título y descripción
        .row
            .col-12
                h2.d-block.w-100.text-warning.mb-4 Contacta con nosotros
                p.mb-5 Si quieres contactar con el vendedor de tu pedido, rellena el siguiente formulario:

        // El Formulario
        .row.justify-content-center
            .col-md-12
                form(action="/contacto" method="POST")

                    // PRIMERA FILA: Nombre y Apellidos
                    .row.mb-3
                        .col-md-6
                            .form-group
                                label(for="nombre") Nombre
                                input#nombre.form-control(type="text" name="nombre")
                        .col-md-6
                            .form-group
                                label(for="apellidos") Apellidos
                                input#apellidos.form-control(type="text" name="apellidos")

                    // SEGUNDA FILA: Email y Teléfono
                    .row.mb-3
                        .col-md-6
                            .form-group
                                label(for="email") Email
                                    span.text-danger *
                                input#email.form-control(type="email" name="email" required)
                        .col-md-6
                            .form-group
                                label(for="telefono") Teléfono de contacto
                                input#telefono.form-control(type="tel" name="telefono")

                    // TERCERA FILA: Caja de texto grande
                    .row.mb-3
                        .col-md-12
                            .form-group
                                label(for="mensaje") Consulta
                                    span.text-danger *
                                textarea#mensaje.form-control(name="mensaje", rows="6", required)

                    // CUARTA FILA: Política de privacidad
                    .row.mb-4
                        .col-md-12
                            label He leído y acepto
                                a(href="#").text-success la política de privacidad
                                span.text-danger *

                            .form-check
                                input#privacidad.form-check-input(type="checkbox" required)
                                label.form-check-label(for="privacidad") Sí

                    // Botón de Enviar
                    .row
                        .col-md-12
                            input.btn.btn-warning.btn-block(type="submit" value="Enviar Mensaje")